.lost-items-container {
  padding: 30px;
  background-color: #f9f9f9;
  font-family: "Segoe UI", sans-serif;
}

.content {
  max-width: 1200px;
  margin: auto;
}

.content h2 {
  font-size: 2rem;
  color: #1e2a38;
  margin-bottom: 20px;
}

.search-filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.search-input-wrapper {
  width: 80%;
  position: relative;
}

.search-input-wrapper input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}


.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}

.dropdowns {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.dropdowns select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.plus-btn {
  background-color: #4285f4;
  color: #fff;
  border: none;
  padding: 6px;
  font-size: 10px;
  border-radius: 100px;
  cursor: pointer;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.item-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.item-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  background: #f8fafc;
}

.item-info {
  padding: 12px;
}

.item-info h4 {
  margin: 0 0 8px;
  font-weight: 600;
  font-size: 16px;
}

.category,
.location,
.date {
  font-size: 13px;
  margin: 0;
  color: #555;
}

.date {
  color: #d60000;
  font-weight: 500;
  margin-top: 5px;
}

.details-btn {
  margin-top: 10px;
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 8px 14px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.details-btn:hover {
  background-color: #3367d6;
}

.load-more {
  text-align: center;
  margin: 30px 0;
  color: #4285f4;
  font-weight: bold;
  cursor: pointer;
}
