.nav-links {
  display: flex;
  align-items: center;
  gap: 35px;
  list-style: none;
}

.navbar-logo {
  width: 120px;           
  height: 40px;          
  border-radius: 6px;  
  
}

.nav-links a {
  color: #2d3b4f;
  text-decoration: none;
  padding: 8px;
  transition: 0.3s;
}

.nav-links a:hover {
  background-color: #ffffff;
  border-radius: 4px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 150px;
  top: 30px;
  z-index: 1;
}

.dropdown-content a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #1C2A3A;
}

.dropdown:hover .dropdown-content {
  display:block;

}


.navbar {
  background-color: #1C2A3A;
  background-color: transparent;
  color: #1C2A3A;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  position:static;
  top: 0;
  z-index: 100;
}



.logo img {
  width: 40px;
  height: 40px;
  object-fit: contain;   

}

.login-btnn {
  background-color: #1C2A3A; 
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.navbar a {
  color: #1C2A3A;
  text-decoration: none;
  margin: 0 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar a:hover,
.navbar button:hover {
  color: #3B82F6;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #1C2A3A;
}


@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    padding: 10px;
    display: none; 
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .nav-links.active {
    display: flex;
  }

  
  .menu-toggle {
    display: block;
  }
}