.footer {
  background-color: #1C2A3A;
  color: white;
  padding: 30px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-columns div {
  min-width: 180px;
  margin-bottom: 20px;
}

.footer-columns h4 {
  margin-bottom: 10px;
  font-size: 16px;
  text-decoration: underline;
}

.socials {
  display: flex;
  gap: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.icon {
  cursor: pointer;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.1);
}

.footer-logo {
  width: 60px;
  margin-top: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
  font-size: 14px;
}
