.hero {
  height: 70vh;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.hero h1 {
  font-size: 26px;
  max-width: 800px;
  background: rgba(0,0,0,0.4);
  padding: 10px;
  border-radius: 8px;
  
}

.search-box {
  margin-top: 20px;
  display: flex;
  background: white;
  border-radius: 30px;
  overflow: hidden;
  width: 80%;
  max-width: 500px;
 
}

.search-box input {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
}

.search-box button {
  background-color: #3B82F6;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
}

.action-buttons {
  margin-top: 30px;
  display:flex;
  gap: 40px;

}

.action-buttons p {
  font-weight: bold;
  margin-bottom: 8px;
  color: black;
}

.report-btn {
  background-color: #3B82F6;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.report-btn a:hover,
.report-btn:hover {
  background-color:#206eea ;  
  color: #1C2A3A;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 50px 0;
  background: #fff;
}

.stat-card {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.search-box {
  border-radius: 12px; 
}

