.login-container {
  background: #f9f9f9;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.log{
  background: #f9f9f9;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 30px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.login-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 30px 0;
}

.form-group input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 20px;
}

.forgot-password a {
  color: #0a1f44;
  font-weight: bold;
  text-decoration: none;
}

.login-btn {
  width: 10%;
  padding: 12px;
  background: #1c2b42;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  display: block;     
  margin: 0 auto;       
}

.login-btn:hover{
  background-color: #1f3e74;
  color:black;

}

.divider {
  height: 1px;
  background: #ccc;
  margin: 25px 0;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 28px;
}

.social-icon {
  cursor: pointer;
}

.google { color: #db4437; }
.facebook { color: #1877f2; }
.apple { color: black; }

.signup-text {
  text-align: center;
  margin-top: 25px;
  font-size: 14px;
}

.signup-text a {
  color: #0a1f44;
  font-weight: bold;
  text-decoration: none;
}
