.navbar {
  background-color: transparent;
  color: #1C2A3A;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: static;
  top: 0;
  z-index: 100;
}

.navbar-logo {
  width: 120px;
  height: 40px;
  border-radius: 6px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  color: #2d3b4f;
  text-decoration: none;
  padding: 8px;
  transition: 0.3s;
}

.nav-links a:hover {
  background-color: #ffffff;
  border-radius: 4px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  top: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #1C2A3A;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Icon styles */
.icon-btn {
  cursor: pointer;
}

.nav-icon {
  font-size: 22px;
  color: #1C2A3A;
  cursor: pointer;
}

.nav-icon:hover {
  color: #3B82F6;
}


.profile-dropdown {
  position: relative;
}

.profile-menu {
  position: absolute;
  top: 30px;
  right: 0;
  background: white;
  min-width: 180px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 10px 0;
}

.profile-menu li {
  padding: 10px 15px;
  cursor: pointer;
}

.profile-menu li:hover {
  background: #f5f5f5;
}

.profile-info {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.profile-info span {
  display: block;
  font-weight: normal;
  font-size: 12px;
  color: gray;
}


.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #1C2A3A;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    padding: 10px;
    display: none;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .profile-menu {
    position: relative;
    top: 5px;
    right: auto;
    width: 100%;
  }
}
