
.vf-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
}

.vf-wrapperr{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.vf-container {
  background: white;
  max-width: 100;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.vf-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #003366;
}


.vf-form {
  display: flex;
  flex-direction: column;
}


.vf-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.vf-field label {
  font-weight: 600;
  margin-bottom: 5px;
}

.vf-field input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.2s;
}

.vf-field input:focus {
  border-color: #003366;
  box-shadow: 0 0 4px rgba(0, 51, 102, 0.2);
}

.vf-note {
  font-size: 0.85rem;
  color: #666;
  margin-top: 5px;
}


.vf-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.vf-submit {
  flex: 1;
  padding: 10px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.vf-submit:hover {
  background-color: #002244;
}

.vf-cancel {
  flex: 1;
  padding: 10px;
  background-color: #ccc;
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.vf-cancel:hover {
  background-color: #999;
}

/* Responsive */
@media (max-width: 768px) {
  .vf-container {
    padding: 20px;
  }

  .vf-buttons {
    flex-direction: column;
  }
}
